<!DOCTYPE html>
<html>
<head>
<title>Lucas Petit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <div class="header-title">Lucas Petit</div>
        <div class="header-menu">
            <div class="resume-header"><a href="/">Resume</a></div>
            <div class="countries-header"><a href="/countries">Countries</a></div>
            <div class="blog-header"><a href="/blog">Blog</a></div>
        </div>
    </div>
    <div class="side-bar">
        <div class="side-bar-title">
            Check my profile on
        </div>
        <div class="side-wrapper">
            <a href="https://github.com/lulupet" target="_blank">
                <img src="/static/images/github.png">
            </a>
        </div>
        <div class="side-wrapper">
            <a href="https://www.linkedin.com/in/lucas-petit-708993133/" target="_blank">
                <img src="/static/images/linkedin.png">
            </a>
        </div>
        <div class="side-wrapper">
            <a href="https://lichess.org/@/lulupet" target="_blank">
                <img src="/static/images/lichess.png">
            </a>
        </div>
    </div>
    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>
</body>