{% extends "base.html" %}
{% block content %}
<div class="roadmap">
    <div class="anchor-wrapper">
        <div class="anchor-step anchor-step-zero" onclick="customScrollTo('zero')"><span class="anchor-step-number">0</span></div>
        <div class="anchor-step anchor-step-one" onclick="customScrollTo('one')"><span class="anchor-step-number">1</span></div>
        <div class="anchor-step anchor-step-two" onclick="customScrollTo('two')"><span class="anchor-step-number">2</span></div>
        <div class="anchor-step anchor-step-three" onclick="customScrollTo('three')"><span class="anchor-step-number">3</span></div>
        <div class="anchor-step anchor-step-four" onclick="customScrollTo('four')"><span class="anchor-step-number">4</span></div>
        <div class="anchor-step anchor-step-five" onclick="customScrollTo('five')"><span class="anchor-step-number">5</span></div>
        <div class="anchor-step anchor-step-six" onclick="customScrollTo('six')"><span class="anchor-step-number">6</span></div>
        <div class="anchor-step anchor-step-seven" onclick="customScrollTo('seven')"><span class="anchor-step-number">7</span></div>
        <div class="anchor-step anchor-step-eight" onclick="customScrollTo('eight')"><span class="anchor-step-number">8</span></div>
        <div class="anchor-step anchor-step-nine" onclick="customScrollTo('nine')"><span class="anchor-step-number">9</span></div>
        <div class="anchor-step anchor-step-ten" onclick="customScrollTo('ten')"><span class="anchor-step-number">10</span></div>
        <div class="anchor-step anchor-step-eleven" onclick="customScrollTo('eleven')"><span class="anchor-step-number">11</span></div>
        <div class="anchor-step anchor-step-twelve" onclick="customScrollTo('twelve')"><span class="anchor-step-number">12</span></div>
        <div class="anchor-step anchor-step-thirteen" onclick="customScrollTo('thirteen')"><span class="anchor-step-number">13</span></div>
        <div class="anchor-step anchor-step-forteen" onclick="customScrollTo('forteen')"><span class="anchor-step-number">14</span></div>
        <div class="anchor-step anchor-step-fifteen" onclick="customScrollTo('fifteen')"><span class="anchor-step-number">15</span></div>
        <div class="anchor-step anchor-step-sixteen" onclick="customScrollTo('sixteen')"><span class="anchor-step-number">16</span></div>
    </div>
    <div class="step step-zero">
        <div class="step-title">Create an account on Lichess</div>
        <div class="step-content">
            You can create an account <a href="https://lichess.org/" target="_blank">here</a>.<br>
            Why creating an online account at all?<br>
            Many people start playing chess with an application (against a computer) and actually, you can rise to a pretty serious level of chess by dpoing so but it can be a bit boring.
            When you play online, you can play against other people which makes it way more challenging, you can do tactics exercises, you can analyze your games, etc. Beside, you have an 
            Elo rating that tells your level compared to other players so that your progression is measurable.<br>
            Why Lichess?<br>
            Many other websites exist. The most famous is Chess.com but here are reasons why I prefer Lichess:
            <ul>
                <li>Lichess is free and will always be (you can give them some money so that they can keep existing but their main interest is not profitability). On Chess.com, you have to pay to get access to all of the features.</li>
                <li>There is no ad on Lichess, there are if you don't pay on Chess.com.</li>
                <li>Lichess is developed by an open source community and Chess.com is a company.</li>
                <li>Lichess is French and Chess.com is American.</li>
            </ul>
        </div>
    </div>
    <div class="step step-one">
        <div class="step-title">Learn the rules</div>
        <div class="step-content">
            Pretty obvious, right?<br>
            Well, some people play dozens of chess games before fully understanding how castling works and what the en passant move is, so don't be like them and learn the rules from the beginning.
            Here is a checklist:
            <ul>
                <li>how pieces move</li>
                <li>castling</li>
                <li>pawn promotion</li>
                <li>en passant</li>
                <li>check</li>
                <li>checkmate</li>
                <li>stalemate</li>
                <li>the 50 moves rule</li>
                <li>draw by insufficient material</li>
            </ul>
        </div>
    </div>
    <div class="step step-two">
        <div class="step-title">Learn elementary checkmates</div>
        <div class="step-content">
            Alright, now you know that winning a game means checkmating your opponent so you have to know how to checkmate your opponent.
            There are a lot of ways to do so but some are fundamental and will often occur during your games:
            <ul>
                <li>the ladder mate</li>
                <li>the back-rank mate</li>
                <li>any mate that consists in a queen stuck to the opponent's king with a piece defending the queen</li>
            </ul>
        </div>
    </div>
    <div class="step step-three">
        <div class="step-title">Learn the values of the pieces</div>
        <div class="step-content">
            Now, it is important to understand that all pieces at chess are not worth the same.
            If you already played some games, you already noticed that a queen is much more dangerous than a pawn or a bishop.
            So when it comes to exchanging pieces, you always have to be aware about the value of the pieces that are being exchanged so that the exchange is not negative for you (well it can be if it is a sacrifice).
            Here are the values of the pieces:
            <ul>
                <li>Pawn: 1</li>
                <li>Knight: 3</li>
                <li>Bishop: 3</li>
                <li>Rook: 5</li>
                <li>Queen: 9</li>
            </ul>
            Note that the king does not have any point because losing it means losing the game.
        </div>
    </div>
    <div class="step step-four">
        <div class="step-title">Learn the principles of the opening</div>
        <div class="step-content">
            Quite often, when you start playing chess, you have no idea about what to play at the beginning of a game.
            Actually, even at the beginning, some moves are better than others so it is important that you know the principles of the opening so you kind of have an idea about what to play at the beginning of a game.
            So remember, during the opening, you should:
            <ul>
                <li>Control the center of the board with your pieces</li>
                <li>Develop your pieces (which means you have to take your bishops and knights out from their initial square so that they enter in the game to control more strategic squares)</li>
                <li>Castle (remember that in general, castling long is a bit more unsafe for your king than castling short)</li>
                <li>Not take your queen out too early. Indeed, in the previous step, you saw that it is your most powerful piece so it would be a pity to loose it because of a trap by your opponent during the opening.</li>
                <li>Not move the same piece twice in a row (because it makes you "loose" time meanwhile you could develop another piece that was not developed yet)</li>
                <li>Connect your rooks. That menas having your rooks "looking at each other" because you took out your bishops and your knight, because you castled and because you took your queen out (but not too early)</li>
            </ul>
        </div>
    </div>
    <div class="step step-five">
        <div class="step-title">Learn the algebric notation</div>
        <div class="step-content">
            That will be fundamental in your chess journey as it is the way to describe a chess game without having to draw a chess board for every position.
            Every square has a name that indicates its column and row.
            <div id="board">
                <div class="file" id="file-1">1</div>
                <div class="file" id="file-2">2</div>
                <div class="file" id="file-3">3</div>
                <div class="file" id="file-4">4</div>
                <div class="file" id="file-5">5</div>
                <div class="file" id="file-6">6</div>
                <div class="file" id="file-7">7</div>
                <div class="file" id="file-8">8</div>
                <div class="column" id="column-a">a</div>
                <div class="square" id="a1">a1</div>
                <div class="square" id="a2">a2</div>
                <div class="square" id="a3">a3</div>
                <div class="square" id="a4">a4</div>
                <div class="square" id="a5">a5</div>
                <div class="square" id="a6">a6</div>
                <div class="square" id="a7">a7</div>
                <div class="square" id="a8">a8</div>
                <div class="column" id="column-b">b</div>
                <div class="square" id="b1">b1</div>
                <div class="square" id="b2">b2</div>
                <div class="square" id="b3">b3</div>
                <div class="square" id="b4">b4</div>
                <div class="square" id="b5">b5</div>
                <div class="square" id="b6">b6</div>
                <div class="square" id="b7">b7</div>
                <div class="square" id="b8">b8</div>
                <div class="column" id="column-c">c</div>
                <div class="square" id="c1">c1</div>
                <div class="square" id="c2">c2</div>
                <div class="square" id="c3">c3</div>
                <div class="square" id="c4">c4</div>
                <div class="square" id="c5">c5</div>
                <div class="square" id="c6">c6</div>
                <div class="square" id="c7">c7</div>
                <div class="square" id="c8">c8</div>
                <div class="column" id="column-d">d</div>
                <div class="square" id="d1">d1</div>
                <div class="square" id="d2">d2</div>
                <div class="square" id="d3">d3</div>
                <div class="square" id="d4">d4</div>
                <div class="square" id="d5">d5</div>
                <div class="square" id="d6">d6</div>
                <div class="square" id="d7">d7</div>
                <div class="square" id="d8">d8</div>
                <div class="column" id="column-e">e</div>
                <div class="square" id="e1">e1</div>
                <div class="square" id="e2">e2</div>
                <div class="square" id="e3">e3</div>
                <div class="square" id="e4">e4</div>
                <div class="square" id="e5">e5</div>
                <div class="square" id="e6">e6</div>
                <div class="square" id="e7">e7</div>
                <div class="square" id="e8">e8</div>
                <div class="column" id="column-f">f</div>
                <div class="square" id="f1">f1</div>
                <div class="square" id="f2">f2</div>
                <div class="square" id="f3">f3</div>
                <div class="square" id="f4">f4</div>
                <div class="square" id="f5">f5</div>
                <div class="square" id="f6">f6</div>
                <div class="square" id="f7">f7</div>
                <div class="square" id="f8">f8</div>
                <div class="column" id="column-g">g</div>
                <div class="square" id="g1">g1</div>
                <div class="square" id="g2">g2</div>
                <div class="square" id="g3">g3</div>
                <div class="square" id="g4">g4</div>
                <div class="square" id="g5">g5</div>
                <div class="square" id="g6">g6</div>
                <div class="square" id="g7">g7</div>
                <div class="square" id="g8">g8</div>
                <div class="column" id="column-h">h</div>
                <div class="square" id="h1">h1</div>
                <div class="square" id="h2">h2</div>
                <div class="square" id="h3">h3</div>
                <div class="square" id="h4">h4</div>
                <div class="square" id="h5">h5</div>
                <div class="square" id="h6">h6</div>
                <div class="square" id="h7">h7</div>
                <div class="square" id="h8">h8</div>
            </div>
            Then, each piece has a sign:
            <ul>
                <li>Pawn: no sign</li>
                <li>Bishop: B</li>
                <li>Knight: C</li>
                <li>Rook: R</li>
                <li>Queen: Q</li>
                <li>King: K</li>
            </ul>
            So, Cf4 means that a knight is going on the f3 square and c4 means that a pawn is going on the c4 square.
            Then, to say that a piece is taking another piece, you write an "x". So that, Cxf7 means that a Knight is taking a piece on the f7 square.
            When a pawn takes another piece, you just write its column, so that dxc4 means that a pawn on the d column takes a piece on the c4 square.
            When there is check, we write a "+"sign and when there is checkmate, we write a "#" sign.
        </div>
    </div>
    <div class="step step-six">
        <div class="step-title">Learn elementary tactics</div>
        <div class="step-content">
            At this moment of your journey, you have to learn some basic tactics that often occur during a chess game.
            Here are the most common:
            <ul>
                <li>The forks: this is when you attack two pieces simultaneously. You will see in your games that you generally fork with knights.</li>
                <li>The skewers: this when you attack to pieces that are on the same row, column or diagonal.</li>
            </ul>
        </div>
    </div>
    <div class="step step-seven">
        <div class="step-title">Learn 5 checkmates in the opening</div>
        <div class="step-content">
            You may use them against low-rated players. Here is my selection but there are more:
            <ul>
                <li>The Fool's mate: 1. f3 e6 2. g4 Qh4#</li>
                <li>The Scholar's mate: 1. e4 e5 2. Bf4 Bc5 3. Qh5 Cc6 4. Qxf7#</li>
                <li>The Caro Kann's smothered mate: 1. e4 c6 2. d4 d5 3. Cc3 dxe4 4. Cxe4 Cd7 5. Qe2 Cgf6 6. Cd6#</li>
                <li>The quick Englund Gambit mate: 1. d4 e5 2. dxe5 Qe7 3. Cf3 Cc6 4. Bf4 Qb4+ 5. Bd2 Qxb2 6. Bc3 Bb4 7. Qd2 Bxc3 8. Qxc3 Qc1#</li>
                <li>The quick Owen defense mate: 1. e4 b6 2. d4 Bb7 3. Bd3 f5 4. exf5 Bxg2 5. Qh5+ g6 6. fxg6 Cf6 7. gxh7 Cxh5 8. Bg6#</li>
            </ul>
        </div>
    </div>
    <div class="step step-eight">
        <div class="step-title">Build your openings</div>
        <div class="step-content">
            In order to improve your chess skills, you have to know what to play at the beginning of your games.
            This is why you should choose what is your first move as white. I recommend choosing between d4 and e4.
            Other openings do exist like the English opening (1. c4) for example but you may learn them further in your chess learning.
            If you choose d4, you have to know some things about the Queen's gambit, the Tromposwky attack or the London system.
            If you choose e4, you should be able to react to the various answers of your opponent: the Scandinavian, the Sicilian, the Petrov, 
            the Caro-Kann and you should learn about the Italian and the Spanish games.
        </div>
    </div>
    <div class="step step-nine">
        <div class="step-title">Learn intermediary checkmates</div>
        <div class="step-content">
            At this point of your learning, you should have met several times the situation in which you have a queen and a king against your opponent's king. 
            This is a mate you have to know by heart because you will meet this situation a lot of times. There are many resources online to elarn this mate.<br><br>
            The other intermediary mate you should learn is the rook and king versus king. It is a bit harder than the other but many online videos can teach you that.
        </div>
    </div>
    <div class="step step-ten">
        <div class="step-title">Learn the principles of strategy</div>
        <div class="step-content">
            While it's important to know some tactics to achieve your opponent, you also have to learn some strategy which defines the set of more
            long-terms plans that you should know. That is why you should learn about the isolated pawn (when a pawn has no other pawn on the columns next to it):
             most of the time, you will want to avoid having an isolated pawn and you will want your opponent to have isolated pawns because isolated pawns can 
             only be defended by pieces which are not pawns.<br><br>Then, you should know that you want to avoid doubled pawns (when two pawns are on the same column). Why? 
             Because the pawn behind the other has to wait for the one ahead to move before going forward itself which makes doubled pawns quite vulnerable.<br><br>Finally, also
             remember than you do not want to have a backward pawn which means a pawn that has the two adjacent pawns ahead of it and thus unable to defend it.<br><br>
            These three little strategy principles will improve your pawn structure and give you some advantage during the endgame.
        </div>
    </div>
    <div class="step step-eleven">
        <div class="step-title">Improve your chekmating skills</div>
        <div class="step-content">
            Alright, you already know some checkmates but it is important to improve even more your checkmating skills. At this point, I would recommend you to
             start doing a lot of checkmates exercises on Lichess (checkmates in 1, 2, 3 or 4 moves). That way, you will recognize patterns during your games and will improve 
            even more your chess rating.
        </div>
    </div>
    <div class="step step-twelve">
        <div class="step-title">Learn the principles of common openings</div>
        <div class="step-content">
            This part will be one of the longest part of your learning journey but it will help you soooo much. I guess that until now, there have been a 
            numerous amount of times when you really felt like you screwed up the opening and your opponent was already dominating you in 6/7 moves. This is because you 
            met an opponent that was more prepared for the opening and you do not want to let that happen anymore. So for each of the following openings, go on YouTube 
            and search the name of the opening and watch 2 or 3 videos about it. This way, you will learn the "big ideas" of the major openings and the most relevant answers to 
            your opponent's first moves. Here is the list of openings that you should take a look at:
            <ul>
                <li>Queen's Gambit</li>
                <li>Slav Defense</li>
                <li>Sicilian opening</li>
                <li>Italian Game</li>
                <li>Spanish Game</li>
                <li>Scandinavian Opening</li>
                <li>Petrov Defense</li>
                <li>Caro-Kann Defense</li>
                <li>French Defense</li>
                <li>East-Indian</li>
                <li>West Indian</li>
                <li>Dutch Opening</li>
                <li>Semi-Tarrasch</li>
                <li>London System</li>
                <li>Alekhine's Attack</li>
                <li>King's Gambit</li>
                <li>Trompowsky's Attack</li>
            </ul>
        </div>
    </div>
    <div class="step step-thirteen">
        <div class="step-title">Make some tactics exercises</div>
        <div class="step-content">
            You just learnt of lot about openings, now it is time to improve your middlegame. Go on Lichess and make hundreds and thousands of problems. 
            Nothing more to say, put ypourself to work with those problems and you will see your rating increasing quite a lot.
        </div>
    </div>
    <div class="step step-forteen">
        <div class="step-title">Learn some traps in the opening</div>
        <div class="step-content">
            Is there something more enjoyable than winning a game quickly thanks to a trap that worked like a charm? It's now time to learn some opening's traps. Here are just a few examples but feel free to find your own.
            <ul>
                <li>Quenn's Gambit accepted trap (with the white pieces): 1. d4 d5 2. c4 dxc4 3. e3 b5 4. a4 c6 5. axb5 cxb5 6. Qf3 and at this point, your opponent at least lose a piece (you're attacking the rook on a8 and it will be hard for your opponent to defend.</li>
                <li>Morra's Gambit trap (with the white pieces): 1. e4 c5 2. d4 cxd4 3. c3 dxc3 4. Cxc3 Cc6 5. Cf3 d6 6. Bc4 Cf6 7. e5 Cxe5 8. Cxe5 dxe5 9. Bxf7! and the black Queen is lost.</li>
                <li>Evan's Gambit trap (with the white pieces): 1. e4 e5 2. Cf3 Cf6 3. Bc4 Bc5 4. b4 Bxb4 5. c3 Ba5 6. d4 Cf6 7. dxe5 Cxe4 8. Qd5 which threats 9. Qxf7# and 9. Qxe4.</li>
                <li>Petrov Defense's trap (with the white pieces): 1. e4 e5 2. Cf3 Cf6 3. Cxe5 Cxe4 4. Qe2 Cf6 5. Cc6+ and the black Queen is lost. Deadly.</li>
            </ul>
        </div>
    </div>
    <div class="step step-fifteen">
        <div class="step-title">Learn 10 great games</div>
        <div class="step-content">
            There are thousands of very insteresting games that contain a lot of beauty and art in it and it is a great idea as chess player to learn some of those games as it will train your memory and maybe give you some ideas for your games. 
            Here is my selection but feel free to find yours.
            <ul>
                <li>The Opera Game (Paul Morphy 1858): one of the most famous chess games ever. It is very typical of the all-attacking style of the Romantic Era and the genius Paul Morphy.</li>
                <li>Kasparov's Immortal (Kasparov - Topalov 1999): in this games, the World Champion Garry Kasparov sacrifices most of his pieces. An attacking masterclass by one of the greatest chess players of all time.</li>
                <li>Anand's Immortal (Aronian - Anand 2013): another great sacrifices game by the former World Champion Viswanathan Anand.</li>
                <li>The Game of the Century (Byrne - Fischer 1956): probably the best know game by the only American Chess World Champion until now. What is even more surprising is that Fischer was only 13 at the time of that game.</li>
                <li>Rubinstein's Immortal (Rotlewi - Rubinstein 1907): Rubinstein is definitely one of the best chess players to have never been World Champion but the Polish legend let some incredible games like this one in the history books.</li>
                <li>The Peruvian Immortal (Canal 1934): a 13 move game in which Esteban Canal has time to sacrifice both rooks and his queen and checkmate his opponent. Just brilliant.</li>
                <li>The Polish Immortal (Najdorf 1930): Miguel Najdorf who let his name to one of the most famous Sicilian variations sacrifices his 4 minor pieces to win this game.</li>
                <li>The Immortal Game (Anderssen 1851): Anderssen shows us why the activity of the pieces is more important than the material in chess in this famous masterpiece.</li>
                <li>The most beautiful Queen sacrifice (Nezhmetdinov 1962): this Kazahk player who has never been a Grandmaster sacrifices his queen without any direct compensation and winning many moves after. That's genius!</li>
                <li>Mate in 13 (Dubov 2019): the last game in this list is oriented towards the future with the young prodigy Daniil Dubov calculating a mate in 13. That guy is a machine.</li>
            </ul>
        </div>
    </div>
    <div class="step step-sixteen">
        <div class="step-title">To go further</div>
        <div class="step-content">
            You've completed all the previous steps while playing many online games. You should now have a pretty decent level and beat most of your friends at chess. 
            The chess universe is almost infinite and here are some paths that you can explore to go even further in your chess learning journey:
            <ul>
                <li>Watch chess streamers on Twitch or YouTube like Chessbrah, Agadmator, Hikaru, GothamChess, Eric Rosen or Blizstream. They perfectly ally humor and chess. That is definitely an ejoyable way to learn some more chess.</li>
                <li>Learn how to play blind chess. Is there something more impressive than that seriously? Plus it will improve your memory.</li>
                <li>Play Blitz and Bullet games. I would not recommend you to start with speed games but once you have some serious chess experience, playing chess games that just last a few minutes can be very fun.</li>
                <li>Know more about the history of chess. Learn how chess played an important role during the Cold War when Fischer won against Botvinnik in 1962, how representive of the two Russias was the rivalry between Karpov and Kasparov, how the Internet has changed the way we play chess in the 2010 years, etc.</li>
                <li>Widen your openings repertoire by playing more different openings or more excentric ones (you might want to try the Grob opening?).</li>
                <li>Play some chess variants. Chess variants are kind of based on  the game of chess but have different initial sets or rules. You will definitely like Chess960, Atomic Chess, Horde, etc.</li>
            </ul>
        </div>
    </div>
</div>
<script>
    function customScrollTo(className) {
        var element_to_scroll_to = document.getElementsByClassName('step-' + className)[0];
        element_to_scroll_to.scrollIntoView();
    }
</script>
{% endblock %}