{% extends "base.html" %}
{% block content %}

<div class="experiences-section">
    <div class="experience-wrapper">
        <div class="experience-date">04/2020 - now</div>
        <div class="experience-title">Chief Technology Officer</div>
        <div class="experience-company">NooS Global</div>
        <div class="experience-location">Madrid, Spain</div>
        <div class="experience-summary">
            Led the design and development of a philanthropy platform with a front-end in Angular and back-end in Python Django 
        </div>
    </div>
    <div class="experience-wrapper">
        <div class="experience-date">02/2019 - 07/2019</div>
        <div class="experience-title">Data Analyst Intern</div>
        <div class="experience-company">Ebury</div>
        <div class="experience-location">Madrid, Spain</div>
        <div class="experience-summary">
            Developed a predicting pipeline with scikit-learn and BigQuery ML for lead generation<br>
            Developed new functionalities on a Python Flask web app<br>
            Developed a Python Django web app for internal use<br>
            Scraped web content for internal use
        </div>
    </div>
    <div class="experience-wrapper">
        <div class="experience-date">08/2018 - 01/2019</div>
        <div class="experience-title">Software Engineer Intern</div>
        <div class="experience-company">Riminder</div>
        <div class="experience-location">Paris, France</div>
        <div class="experience-summary">
            Created various internal tools with Python Flask
        </div>
    </div>
    <div class="experience-wrapper">
        <div class="experience-date">12/2016 - 01/2018</div>
        <div class="experience-title">President</div>
        <div class="experience-company">Forum CentraleSupélec</div>
        <div class="experience-location">Paris, France</div>
        <div class="experience-summary">
            Led a team of 40 people to organize one the biggest students' job fairs in France with 201 companies and 3000 students participating. Event certified ISO9001.
        </div>
    </div>
</div>
<div class="formation-section">
    <div class="formation-wrapper">
        <div class="formation-date">03/2018 - 07/2018</div>
        <div class="formation-school">
            Pontificia Universidad Catolica de Chile
        </div>
        <div class="formation-location">Santiago, Chile</div>
        <div class="formation-content">
            Software Development, Deep Learning, Big Data, History and Culture of Korea
        </div>
    </div>
    <div class="formation-wrapper">
        <div class="formation-date">09/2016 - 04/2020</div>
        <div class="formation-school">
            École CentraleSupélec
        </div>
        <div class="formation-location">Paris, France</div>
        <div class="formation-content">
            Analysis, Probability, Statistics, Advanced Statistics, Partial Differential Equations, Deep Learning, Algorithmics, Advanced Algorithmics, Advanced Object Oriented Programmation, Advanced Databases
            Heat Transfers, Applied Thermodynamics, Quantum Physics, Systems Engineering
            Biology
            Information Systems, Software Development, IT Security, IT Law, Parallel Programming, Real-Time Embedded Systems, Cloud Computing, Software Architecture
            Corporate Finance, Advanced Corporate Finance, Corporate Management, Law, Philosophy of Science, Epistemology, Economy, Company Creation, Financial Risks Modelization, IT Business, Cloud and Outsourcing, 
            English, Spanish
        </div>
    </div>
    <div class="formation-wrapper">
        <div class="formation-date">09/2014 - 06/2016</div>
        <div class="formation-school">
            Classes Préparatoires aux Grandes Écoles Lycée Pasteur
        </div>
        <div class="formation-location">Neuilly-sur-Seine, France</div>
        <div class="formation-content">
            Linear Algebra, Analysis, Probability, Topology, Mecanics, Quantum Physics, Thermodynamics, Inorganic Chemistry, Computer Science, Humanities, English, Spanish
        </div>
    </div>
</div>
<div class="skills-section">
    <div class="coding-skills">
        <div class="coding-skills-title"><img src="/static/images/coding.png"></div>
        <div class="coding-skill-wrapper">
            <div class="coding-skill-title">
                HTML
            </div>
        </div>
        <div class="coding-skill-wrapper">
            <div class="coding-skill-title">
                CSS
            </div>
        </div>
        <div class="coding-skill-wrapper">
            <div class="coding-skill-title">
                Plain Javascript
            </div>
        </div>
        <div class="coding-skill-wrapper">
            <div class="coding-skill-title">
                Angular
            </div>
        </div>
        <div class="coding-skill-wrapper">
            <div class="coding-skill-title">
                Python (Flask, Django, pandas, scikit-learn, etc)
            </div>
        </div>
        <div class="coding-skill-wrapper">
            <div class="coding-skill-title">
                SQL
            </div>
        </div>
    </div>
    <div class="language-skills">
        <div class="language-skills-title"><img src="/static/images/languages.png"></div>
        <div class="language-wrapper">
            <div class="language-title">
                French
            </div>
            <div class="language-level">
                Native
            </div>
        </div>
        <div class="language-wrapper">
            <div class="language-title">
                English
            </div>
            <div class="language-level">
                C1/C2
            </div>
        </div>
        <div class="language-wrapper">
            <div class="language-title">
                Spanish
            </div>
            <div class="language-level">
                    C1/C2
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}